<ul ngbNav class="nav-tabs" [(activeId)]="activeId">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="/maps">{{ 'tr-map' | translate }}</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="/table">{{ 'tr-table' | translate }}</a>
  </li>
  <li ngbDropdown class="nav-item">
    <a href (click)="false" class="nav-link" ngbDropdownToggle>{{ 'tr-translate' | translate }}</a>
    <div ngbDropdownMenu>
      <button ngbDropdownItem (click)="changeTranslation('en')">
        {{ 'tr-en' | translate }}
      </button>
      <button ngbDropdownItem (click)="changeTranslation('fr')">
        {{ 'tr-fr' | translate }}
      </button>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>
